<div class="page-comming-soon">
    <div class="left-col">
        {% include "@molecules/image-block/three-layer-cover.twig" %}
    </div>
    <div class="right-col">
        <a href="{{ link.pages-homepage }}"><img src="{{ img.logo.src }}" class="logo" alt="{{ img.logo.alt }}"/></a>
        <h1>{{ title_1 }}</h1>
        <h2>{{ title_2 }}</h2>
        <ul>
            {% for item in ul %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <hr>
        <a href="{{ link.facebook }}" class="meet-us-facebook">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <span>{{ text_meet_us }}</span>
        </a>
    </div>
</div>
